@charset 'utf-8';
  body{
    /* font-family: 'Poppins', sans-serif;
    font-family: 'Prompt', sans-serif; */
    font-family:'proxima-nova', sans-serif;
    font-weight:600;
    font-style:normal;
  }
  html {
    scroll-behavior: smooth;
  }
  *{
    box-sizing: border-box;
  }
  .card-text{
    font-size:12px;
    font-weight:normal;
  }
  .card-desig-text{
    font-size:17px;
    font-weight:normal;
  }
  .request-btn{
    background:#ff0078;
    border: none;
    font-weight: bold;
    border:1px solid #ff0078;
    border-radius:5px;
    border-radius:5px;
    height:60px;
    color:white;
    font-family:'Poppins',sans-serif;
    letter-spacing:0.1em;
  }
  .request-btn:hover{
    background:#b20254;
    transition: 0.5s ;
    color:#06d1c6;
    cursor: pointer;
  }
  .request-btn:focus{
    border:1px solid #ff0078;
    outline: none;
  }
  .text-hover{
      color:black;
  }
  .text-hover:hover{
      color:#ff0078;
  }
  .rev-font-weight{
  font-size:18px;
  font-weight: 500;
  font-family:'Poppins',sans-serif;
}
.text-weight{
  font-weight: 500;
  line-height: 1.9em;
}
.card-height{
  height:50%;
}
.section-jest{
  font-size:20px;
  font-weight: 600;
}
.advisor-img-height{
  height:100% ;
}
.advisor-role-text{
  font-size:14px
}
.text-heading-section{
  font-size:25px;
}
.heading-text{
  font-size:28px;
  font-weight: 700;
}
.spreadsheet-img{
  height:40%;
}
[alt='deal-desk']{
  height:30%;
}
.text-kpi{
  font-size:23px
}
#card-logo{
  height:50px;
  width: 50px;
}
@media screen and (min-width:1200px) {
  .card-height{
    height:450px;
  }
  .request-btn{
    font-size:18px !important;
    font-weight:800;
  }
  #text-renew{
    font-weight: bold;
    font-size:110px !important;
  }
}@media screen and (min-width:992px) and (max-width:1200px) {
  .card-height{
    height:515px;
  }
  #text-renew{
    font-size:90px !important;
  }
  .request-btn{
    font-size:17px !important;
    font-weight:800;
  }
  .nav-btn-font-size{
    font-size:13px !important;
  }
}
@media screen and (max-width:640px) {
  .card-height{
    height:content;
  }
}
@media screen and (min-width:768px){
  #text-renew{
    font-size:65px !important;
  }
  .request-btn{
    font-size:12px;
    font-weight:800;
  }
  .nav-btn-font-size{
    font-size:12px !important;
  }
  /* .nav-btn-font-size{

  } */
}
@media screen and (max-width:450px) {
  .request-btn{
    width:100%;
    font-size:14px !important;
    font-weight:800;
  }
  #text-renew{
    font-size:50px !important;
  }
  #card-logo{
    margin:-10px 0 0 -10px;
  }
  #slay-kpi{
    font-size:8px;
  }
}
@media screen and (max-width:370px){
  .request-btn{
    width:100%;
    font-size:12px !important;
    font-weight:800;
  }
  #text-renew{
    font-size:50px !important;
  }
  .text-kpi{
    font-size:8px !important;
  }
}
@media screen and (max-width:350px){
  #text-renew{
    font-size:50px !important;
  }
  .request-btn{
    width:100%;
    font-size:11px !important;
    font-weight:800;
  }
  .text-kpi{
    font-size:14px !important;
  }
}
@media screen and (max-width:320px){
  #text-renew{
    font-size:50px !important;
  }
  .request-btn{
    width:100%;
    font-size:10px !important;
    font-weight:800;
  }
  .text-kpi{
    font-size:14px !important;
  }
  #card-logo{
      margin:-10px 0 0 -20px;
      padding: 0 0 0 5px;;
  }
  #slay-kpi{
    font-size:4px;
  }
}
